# SPDX-FileCopyrightText: 2021 Mulliken, LLC <joshua@mulliken.net>
#
# SPDX-License-Identifier: GPL-3.0-only

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = ">=3.7.4"
aiodns = "*"
cchardet = "*"

[dev-packages]
mypy = "*"
coverage = "*"
wheel = "*"

[requires]
python_version = "3.8"
