[tool.poetry]
name = "wyzeapy"
version = "0.5.28"
description = "A library for interacting with Wyze devices"
authors = ["Katie Mulliken <katie@mulliken.net>"]
license = "GPL-3.0-only"

[tool.poetry.dependencies]
python = ">=3.11.0"
aiohttp = "^3.11.12"
aiodns = "^3.2.0"
pycryptodome = "^3.21.0"

[tool.poetry.group.dev.dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
