name: Upload to Test PyPI

on:
  push:
    branches:
      - release/*

permissions:
  contents: read

jobs:
  test-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v5
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v4
        with:
          enable-cache: true

      - name: Install build & twine
        run: uv pip install --system build twine

      - name: Sync project dependencies
        run: uv sync --all-groups

      - name: Build distribution
        run: uv run python -m build --sdist --wheel

      - name: Publish package to Test PyPI
        env:
          TWINE_USERNAME: "__token__"
          TWINE_PASSWORD: "${{ secrets.TEST_PYPI_TOKEN }}"
        run: uv run twine upload --repository-url https://test.pypi.org/legacy/ dist/*
